/* stylelint-disable */
@import 'tailwindcss';

@theme {
  --font-logo: 'Gaegu';
  --font-heading: 'Source-Serif-4';
  --font-regular: 'Poppins';
  --font-fancy: 'Ephesis';
  --font-inter: 'Inter';

  --color-grey-body: #34332e;
  --color-background: #f6f2ef;
}
